.form-overlay {
  position: fixed;
  inset: 0;
  background: rgba(26, 20, 70, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(6px);
  z-index: 100000;
}

.form-card {
  background: rgba(59, 46, 133, 0.95);
  padding: 2.5rem 3rem;
  border-radius: 20px;
  width: 700px;
  max-width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
}

.form-card h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #6c5dd3;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.form-group {
  position: relative;
  display: flex;
  align-items: center;
}

.input-icon {
  position: absolute;
  left: 10px;
  top: 8px;
  font-size: 1.2rem;
  color: #b0a8ff;
}

.form-group input,
.form-group select {
  flex: 1;
  padding: 0.6rem 0.8rem 0.6rem 2.5rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 0.95rem;
  transition: background 0.3s, box-shadow 0.3s;
  width: 100%;
  appearance: none;
  /* brauzer default oxunu gizlət */
  -webkit-appearance: none;
  -moz-appearance: none;
}

.form-group select {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  cursor: pointer;
}

.form-group select option {
  background: #332a74;
  color: #fff;
}

.form-group input:focus,
.form-group select:focus {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 8px rgba(108, 93, 211, 0.8);
}

.form-group {
  position: relative;
}

.form-group select::after {
  content: "▼";
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  pointer-events: none;
}


.form-group input::placeholder {
  color: rgb(216, 216, 216);
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  color: #b0a8ff;
  font-size: 1rem;
}

.form-actions {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 1rem;
}

.submit-btn {
  background-color: #251b68 !important;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: .3s !important;
}

.submit-btn:hover {
  background-color: #1a1446 !important;
  transform: translateY(-2px);
}

.cancel-btn {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  padding: 0.6rem 1rem;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.cancel-btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px);
}