.update-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(26, 20, 70, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.update-card {
  background: rgba(59, 46, 133, 0.85);
  backdrop-filter: blur(12px);
  padding: 2rem 2.5rem;
  border-radius: 15px;
  width: 400px;
  position: relative;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  color: white;
}

.close-btn-update{
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  color: white !important;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0.8;
}

.update-card h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #e8e6fa;
}

.update-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.update-form .form-group label {
  margin-bottom: 0.3rem;
  font-weight: 600;
  color: white;
}

.update-form .form-group input,
.update-form .form-group textarea {
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 0.95rem;
  transition: background 0.3s, box-shadow 0.3s;
}

.update-form .form-group input:focus,
.update-form .form-group textarea:focus {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 8px rgba(108, 93, 211, 0.8);
}

.update-btn {
  margin-top: 1rem;
  width: 100%;
  padding: 0.7rem;
  background: var(--color-dark-teal);
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s;
}

.update-btn:hover {
  background: var(--color-teal);
}

.checkbox-group-update {
    display: flex;
    flex-direction: row !important;
    gap: 8px;
    grid-column: span 2;
}

.checkbox-group-update>label {
    margin: 0;
}

.form-group .check-box-update {
    all: unset;
    appearance: checkbox;
    -webkit-appearance: checkbox;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 0;
}