.addtitle-section {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(6px);
    z-index: 999;
}

.addtitle-card {
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    animation: fadeIn 0.25s ease;
}

.close-btn-title {
    position: absolute;
    top: 8px;
    right: 8px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #555;
    transition: color 0.2s ease;
}

.close-btn:hover {
    color: #000;
}

.addtitle-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.addtitle-input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    transition: all 0.2s ease;
    height: min-content;
}

.addtitle-input:focus {
    border-color: #3a8ef6;
    outline: none;
    box-shadow: 0 0 0 2px rgba(58, 142, 246, 0.15);
}

.addtitle-btn {
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    background-color: #1d0c6b;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
    width: min-content;
    white-space: nowrap;
}

.addtitle-btn:hover {
    background-color: #3a1fa3;
}

.form-checkbox-label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.95rem;
    cursor: pointer;
}

.input-select {
    display: flex;
    gap: 10px;
}

.addtitle-select {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #cfcfcf;
    border-radius: 8px;
    background: #fff;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    transition: 0.2s ease;
}

.addtitle-select:hover {
    border-color: #8c8c8c;
}

.addtitle-select:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.25);
}

.addtitle-select option {
    padding: 10px;
    font-size: 15px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}