.header {
  width: 100%;
  background-color: var(--color-pale-teal);
  padding: 1.5rem 2rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: sticky;
  top: 10px;
  z-index: 10;
}

.ul-up {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.ul-up li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  cursor: pointer;
}

.ul-up li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--color-dark-teal);
  font-weight: 600;
}

.ul-up li img {
  height: 50px;
}

.ul-up li span {
  font-size: 1.1rem;
  font-weight: 500;
}

.ul-up li ul {
  display: none;
  position: absolute;
  top: 98%;
  right: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-light);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: .5rem 0;
  width: min-content;
  z-index: 100;
}

.ul-up li:hover ul {
  display: block;
  width: 100%;
}

.ul-up li ul li {
  padding: 0.2rem 1rem;
}

.ul-up li ul li button {
  width: 100%;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-dark-teal);
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  padding: 10px;
  white-space: nowrap;
}

.ul-up li ul li button:hover {
  background-color: var(--color-light-teal);
  color: var(--color-white);
  border-radius: 8px;
}

.ul-up li ul li:hover .account-icons {
  color: white;
}

.ul-down {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0;
  margin: 0;
  width: 100%;
  flex-wrap: wrap;
}

.main-page-ul {
  display: flex;
  gap: 20px;
}

.ul-down li,
.main-page-ul span {
  background-color: var(--color-teal);
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  gap: 5px;
}

.ul-down li a:hover,
.main-page-ul span:hover {
  background-color: var(--color-light-teal);
  transform: translateY(-3px);
}

.ul-down li {
  background-color: transparent;
  position: relative;
}

.ul-down li a,
.main-page-ul span a {
  text-decoration: none;
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-weight: 600;
  padding: .5rem .7rem;
  border-radius: 10px !important;
}

.ul-down li a{
  background-color: var(--color-teal);
}
.main-page-ul span {
  border-radius: 10px !important;
}

.menu-icon {
  font-size: 1.5rem;
}

.plus-icon {
  font-weight: bold;
  color: var(--color-white);
  font-size: 30px;
}

.plus-icon:last-child {
  font-size: 36px;
}

.user-icon,
.account-icons {
  font-size: 1.13rem;
  color: var(--color-dark-teal);
}

.ul-up li:hover,
.ul-down li:hover {
  color: var(--color-light-teal);
}

@media (max-width: 1024px) {
  .header {
    padding: 1rem 1.5rem;
  }

  .ul-down {
    flex-direction: column;
    gap: 1rem;
  }

  .ul-down li,
  .main-page-ul span {
    width: 100%;
    justify-content: flex-start;
  }
}




.admin-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #169e4a;
  color: white !important;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 104, 55, 0.3);
  margin-left: auto;
}

.admin-link:hover {
  background-color: #00994d;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 153, 77, 0.35);
}

.admin-icon {
  font-size: 1.3rem;
  color: #baffc9;
  transition: transform 0.3s ease, color 0.3s ease;
}

.admin-link:hover .admin-icon {
  color: #ffffff;
  transform: scale(1.1);
}

.active-navigate{
  background-color: var(--color-dark-teal);
}

.passiv-navigate>a{
  position: relative;
}

.passiv-navigate>a>.un-read-count{
  position: absolute;
  width: 30px !important;
  height: 30px !important;
  z-index: 10;
  top: -18px;
  right: -10px;
  border-radius: 100%;
  background-color: #d1bc02 !important;
  color: white;
}