
.login-container {
  background: transparent;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container>form {
  background-color: white;
  padding: 2rem 2.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--color-gray-light);
  max-width: 400px;
  width: 100%;
}

.login-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.login-header img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.login-header h1 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--color-dark-teal);
}

label {
  display: block;
  margin-bottom: .5rem;
}

label span {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--color-gray-dark);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border-radius: 8px;
  border: 1px solid var(--color-gray-light);
  transition: all 0.2s ease;
  font-size: 0.95rem;
}

input:focus {
  outline: none;
  border-color: var(--color-teal);
  box-shadow: 0 0 0 3px rgba(0, 124, 130, 0.2);
}

.password-wrapper {
  position: relative;
}

.password-wrapper button {
  position: absolute;
  top: 11px;
  right: 12px;
  background: none;
  border: none;
  color: var(--color-gray-dark);
  cursor: pointer;
  font-size: 1.1rem;
}

button[type="submit"] {
  width: 100%;
  background-color: var(--color-teal);
  color: var(--color-white);
  font-weight: 600;
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--color-dark-teal);
}

.error-message {
  margin-top: 0.5rem;
  color: var(--color-danger);
  text-align: center;
  font-weight: 500;
}