#root{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
}
.main-element{
    width: 80%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-element>.main-element-child{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 7vh);
}