
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-position: inside;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

:root {
  --color-dark-teal: #1a1446;     
  --color-teal: #3b2e85;         
  --color-light-teal: #6c5dd3;   
  --color-pale-teal: #e8e6fa;     
  --color-white: #ffffff;
  --color-gray-light: #e0e2ec;
  --color-gray-dark: #2a2d3e;
  --color-danger: #e11d48;        
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-teal);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-light-teal);
}

::-webkit-scrollbar-thumb:active {
    background: var(--color-pale-teal);
}
